@import 'section.css';
@import 'reset.css';

/* @font-face {
    font-family: "Wondertype";
    src: url("Wondertype-Regular.otf"),
} */

body {
    background: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease-in-out;

}